.our-clients{
  margin: 70px 150px 70px 150px;
  background: #FEFEFE;
  box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.12);
  border-radius: 30px;
}
.imgg{
  margin-left: 70px;
}
.title-1{
  color: #2B2D42;
  margin: 50px;
  text-align: center;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
}
.about-us{
  flex-direction: row;
  position: relative;
  margin: 50px 200px 10px 200px;
}
.about-us p{
  margin: 50px 100px;
  float:  right;
  font-family: Roboto;
  font-size: 26px;
  line-height: 2;
  font-weight: bold;
}
.about-us img{
  float: right;
  border-radius: 50%;
}
.our-project{
  position: relative;
  margin: 50px 200px 10px 200px;
}
.gird-container{
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 50px;
}
.gird-item{
  padding: 20px;
  align-items: center;
  width: 520px;
  height: 400px;
}
.button2{
  position: relative;
  margin: 0px 50px 50px 70px;
  background: #41EAD4;
  border-radius: 24px;
  border: 3px solid #41EAD4;
  width: 150px;
  height: 50px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 19px;
  color: #2B2D42;
}
.Testimonials{
  position: relative;
  background: #F6F9FA;
  width: 1005;
  height: 700px;
}
.Testimonials .d-flex p{
  margin: 0px 50px ;
  float:  left;
  font-family: Roboto;
  font-size: 24px;
  line-height: 2.7;
  font-weight: bold;
}
 .Testimonials.d-flex img{
  float: right;
}
.more{
  box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.12);
  position: relative;
  width:70px;
  height: 70px;
  background: #FEFEFE;
  border-radius: 52px;
  border: 1px solid #FEFEFE;
  margin: 150px 100px;
}
.img-more{
  position: relative;
  margin: 15px;
  width:40px;
  height: 40px;
}
.text-form{
  position: relative;
  background: #2B2D42;
  border: 1px solid #2B2D42;
  margin: 0px 0px 50px 350px;
  width: 350px;
  height: 45px;
}
.text-form p{
  text-align: center;
  color: #ffff;
  font-family: Roboto;
  font-weight: bold;
  font-size: 26px;
}
.contact-us{
  position: relative;
  margin: 50px 200px 50px 200px;
  border-radius: 24px;
}
#name {
  position: relative;
  border-radius: 24px;
  cursor: pointer;
  width: 40%;
  height: 55px;
  padding: 14px 20px;
  margin: 30px 50px 10px 130px ;
}
#email {
  position: relative;
  border-radius: 24px;
  cursor: pointer;
  width: 40%;
  height:55px;
  padding: 14px 20px;
}
#Message {
  position: relative;
  border-radius: 24px;
  width: 90%;
  height: 250px;
  margin: 50px  80px;
  padding: 14px 20px ;
}
