<div class="footer">
<div class="d-flex p-4 ">
  <a class="logo" href="#" >GT/></a>
  <ul class="hows">
    <li class="footer-text">Our Services </li>
    <li>Mobile Development</li>
    <li>Web App Development</li>
    <li>Theme Development</li>
    <li>SEO</li>
</ul>
<ul class="hows">
  <li class="footer-text">About Us </li>
  <li>GT Web Design</li>
  <li>Terms & Conditions</li>
  <li>Privacy Policy</li>
  <li>Contact</li>
</ul>
<ul class="hows">
  <li class="footer-text">Get social </li>
  <li class="icon">
      <img src="assets/facebook.png" style="height: 50px;width: 50px;">
      <img src="assets/instagram.png" style="height: 50px;width: 50px;">
      <img src="assets/twitter.png" style="height: 50px;width: 50px;">
  </li>
  <li>info@gtcoding.net</li>
</ul>
</div>
<li class="h">This website was designed by Godson T.</li>
</div>
